<%= render "form.html", changeset: @changeset,
                        action: message_path(@conn, :create) %>
<%= for message <- @messages do %>
<%= "#{message.author}: #{message.content}" %>
<br>
<% end %>
